# --- Base de Datos ---
*.db
*.sqlite
proyecto_datos.db

# --- Python ---
__pycache__/
*.pyc
.ipynb_checkpoints
.python-version

# --- Entornos virtuales ---
venv/
.env

# --- Carpetas Locales / Editor ---
.vscode/
data_output/

# --- Otros ---
.DS_Store (si usas Mac)